.container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}
.animes-containers{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
}
.input-container{
  display: flex;
  max-width: 80%;
  flex: 1;
  padding: 36px;
  .search-input{
    background: #FFFFFF;
    height: 27px;
    border: 0.75px solid #C4C4C4;
    border-radius: 7px;
    flex: 1;
    padding: 10px;
  }
}
.card-anime{
  width: 225px;
  height: 320px;
  background-color: red;
  margin: 36px;

  .title-card{
    text-transform: uppercase;
  }
  .content-img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    img{
      height: 320px;
      width: 100%;
    }
  }
}
